* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button {
  border: 0;
  background: none;
  outline: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


